body{
    background-color: #F6F6F6;
    font-family: 'Poppins', sans-serif;
}

#user-img{
    width: 50px;
}
#news-alert{
    background-color: #FFFFFF;
}
.news-creator-img{
    width: 35px;
}
.news-creator-p{
    font-size: 12px;
}
.activeBtn{
    color: #5D5FEF;
}